header{
    .mi-navbar{
        background-color: #96C7C1;
        .mi-li{
            font-size: 2vw;
            color: #0a083d;
            text-decoration: none;
            padding: 1vw;
        }
    }
}
